@import 'assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', "Courier New", Courier, monospace;
    font-size: 16px;
}

#root {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sr-only {
    display: none;
}
